<router-outlet></router-outlet>
<div class="text-center m-5 p-4" style="background-color: gray;">
<h2>File Upload</h2>
</div>
<div class="container">
  <div class=" m-5">
    <input type="file" class="form-control" name="upload" id="upload" (change)="selectFile($event)">
<button class="btn btn-primary mt-4" (click)="uploadFile()">Upload</button>
    </div>
    <div class="m-5">
<button class="btn btn-secondary" (click)="loadFiles()">Get Files</button>
    </div>
    <div>
      <h3>Uploaded Files:</h3>
      <ul>
        <li *ngFor="let file of files">
          <a [href]="getFileUrl(file.id)" target="_blank">{{ file.file_name }}</a>
          <div *ngIf="file.file_name.endsWith('.jpg') || file.file_name.endsWith('.png') || file.file_name.endsWith('.jpeg')">
            <img [src]="getFileUrl(file.id)" alt="{{ file.file_name }}" style="max-width: 200px;">
          </div>
        </li>
      </ul>
    </div>
</div>

